/* CSS TRANSITIONS */

.ah,
.ah-n {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(25vh);
    transition: filter 1.5s ease, transform 1.5s ease, opacity 1.5s ease;
}

.as,
.as-n {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* BREAKPOINTS */

@media all and (max-width: 768px) {
    .ah,
    .ah-n {
        opacity: 0;
        filter: blur(0);
        transform: translateY(25vh);
        transition: blur 1.5s ease, translateY 1.5s ease;
    }

    .as,
    .as-n {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}