.btn,
.btn-r {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    font-size: calc(0.03 * (var(--max-font-size) - var(--min-font-size)) + var(--min-font-size));
    font-weight: calc(0 * (var(--max-font-weight) - var(--min-font-weight)) + var(--min-font-weight));
    padding: 1rem 2rem;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.btn {
    color: var(--text-color);
    background: transparent;
}

.btn-r {
    color: var(--bg-color);
    background: var(--text-color);
}

.btn::before,
.btn-r::before{
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    position: absolute;
    z-index: -1;

    transform-origin: left;
    transition: 0.25s ease-in-out;
}

.btn::before {
    background: var(--text-color);
}

.btn-r::before {
    background: var(--bg-color);
}

.btn:hover::before,
.btn:focus::before,
.btn-r:hover::before,
.btn-r:focus::before{
    width: 100%;
}

.btn:hover,
.btn:focus,
.btn-r:hover,
.btn-r:focus{
    transition: color 0.25s ease-in-out;
}

.btn:hover,
.btn:focus {
    color: var(--bg-color);
}

.btn-r:hover,
.btn-r:focus {
    color: var(--text-color);
}

/* BREAKPOINT */

@media all and (max-width: 991px) {
    .btn {
        font-size: calc(0.02 * (var(--max-font-size) - var(--min-font-size)) + var(--min-font-size));
    }
}

@media all and (max-width: 768px) {
    .btn {
        font-size: calc(0.01 * (var(--max-font-size) - var(--min-font-size)) + var(--min-font-size));
    }
}

@media all and (max-width: 520px) {
    .btn {
        font-size: calc(0 * (var(--max-font-size) - var(--min-font-size)) + var(--min-font-size));
    }
}