.btn {
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    padding: 1rem 2rem;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    z-index: 1;
}

.btn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--text-color);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

.btn:hover::before,
.btn:focus::before {
    transform: scaleX(1);
}

.btn:hover,
.btn:focus {
    color: var(--bg-color);
    transition: color 0.25s ease-in-out;
}

/* BREAKPOINT */

@media all and (max-width: 991px) {
    .btn {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 768px) {
    .btn {
        font-size: 2rem;
    }
}

@media all and (max-width: 520px) {
    .btn {
        font-size: 2rem;
    }
}