@import "style.css";
@import "main.css";

code {
    background: var(--second-bg-color);
    color: var(--second-text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    /*display: block;*/
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}