@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-thinitalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extralight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extralightitalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-lightitalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-mediumitalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-semibolditalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-bolditalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-extrabolditalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-blackitalic.ttf');
    font-weight: 900;
    font-style: italic;
}

:root {
    --blue-bg-color: #E0EBF7;
    --blue-text-color: #1F4F9C;
    --blue-main-color: #2978FF;

    --green-bg-color: #F2FAEd;
    --green-text-color: #0D612B;
    --green-main-color: #00c754;

    --yellow-bg-color: #FAF7E3;
    --yellow-text-color: #9E8000;
    --yellow-main-color: #FFD600;

    --orange-bg-color: #FFE0B2;
    --orange-text-color: #B24D00;
    --orange-main-color: #FF6D00;

    --red-bg-color: #FCEDED;
    --red-text-color: #A61F1F;
    --red-main-color: #FF5252;

    --purple-bg-color: #EDE8F5;
    --purple-text-color: #2E008C;
    --purple-main-color: #6100EB;

    --bg-color: #F5F5F5;
    --text-color: #303C40;
    --main-color: #EDF0F2;

    --second-bg-color: var(--blue-bg-color);
    --second-text-color: var(--blue-text-color);
    --second-main-color: var(--blue-main-color);

    --header-color: var(--second-bg-color);

    --max-font-size: 15rem;
    --min-font-size: 2rem;
}

.dark-mode {
    --blue-bg-color: #24385C;
    --blue-text-color: #8ABFFF;
    --blue-main-color: #0D2E6B;

    --green-bg-color: #21543D;
    --green-text-color: #A3E8B2;
    --green-main-color: #006B2E;

    --yellow-bg-color: #302E1C;
    --yellow-text-color: #FFF5B5;
    --yellow-main-color: #B28A00;

    --orange-bg-color: #3D3B33;
    --orange-text-color: #FFBABA;
    --orange-main-color: #8F0000;

    --red-bg-color: #4F2424;
    --red-text-color: #FFCC99;
    --red-main-color: #E55200;

    --purple-bg-color: #6B54A3;
    --purple-text-color: #C4B5E8;
    --purple-main-color: #1A00A8;

    --bg-color: #1A1A1A;
    --text-color: #FFFFFF;
    --main-color: #546E7A;

    --second-bg-color: var(--blue-bg-color);
    --second-text-color: var(--blue-text-color);
    --second-main-color: var(--blue-main-color);

    --header-color: var(--second-bg-color);
}