* {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding: 9% 9%;*/
}

section.min-h-25 {
    min-height: 25vh;
}

section.min-h-50 {
    min-height: 50vh;
}

section.min-h-75 {
    min-height: 75vh;
}

.sh {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.sv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

/* BREAKPOINT */
@media all and (max-width: 991px) {
    section {
        padding: 10rem 4% 2rem;
    }
}
